* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*WEBSITE WIDE STYLES */
#container {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

#container h1,
#container h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*HEADER STYLES*/
header {
    text-align: center;
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 10px;
    max-width: 400px;
    width: 100%;
}
