* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*WEBSITE WIDE STYLES */
#container {
    max-width: 700px;
    margin: auto;
    padding: 20px 10px;
}

#container h1,
#container h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#container h2 {
    font-size: 1.5em;
}

h3,
p,
ul {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

h3 {
    font-weight: 400;
}

p,
ul {
    font-weight: 300;
}

a, a:visited {
    color: #17a092;
    text-decoration: none;
}

a:hover {
    color: #000;
}

/*HEADER STYLES*/
header {
    text-align: center;
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 10px;
    max-width: 400px;
    width: 100%;
}

header p span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #000;
}

@media all and (min-width: 700px) {
    header {
        text-align: left;
    }
    #logo {
        float: left;
    }
    header p {
        float: right;
        margin-top: 40px;
    }
    header::after {
        clear: both;
        display: block;
        content: "";
    }
}

/*ACCORDIAN CONTENT STYLES*/
.accordion figure {
    text-align: center;
}

#portrait {
    max-width: 290px;
    width: 100%;
}

@media all and (min-width: 550px) {
    .inner-content p {
        width: 50%;
        float: left;
    }
    #portrait {
        float: right;
    }
    .inner-content {
        overflow: auto;
    }
    ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
}

p + h3 {
    margin-top: 1em;
}

.accordion ul {
    list-style-type: none;
}
/*FOOTER STYLES*/
.fa-circle {
    color: #1bc6b4;
}
.social-button:hover .fa-circle:before {
    color: #3e4449;
}
.fa-facebook, .fa-twitter {
    margin-top: 2px;
}

